<div class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <p class="text-lg font-semibold"> <%= recipe.name %> </p>
    <p class="mb-3 text-sm font-normal text-gray-700 dark:text-gray-400"><%= recipe.category %></p>
    <p class="mb-3 text-normal font-normal text-gray-700"> <%= recipe.description %> </p>
    <%= button_to "View Recipe", recipe_path(recipe.id), method: :get %>
</div>