<div>
 <div>
            <%= f.label :review, class: "text-sm mb-6" %>
                <div>
                    <%= f.text_area(:review, size: "50x10")%>
                </div>
</div>
    <div>
            <%= f.label :when, class: "text-sm mb-6" %>
            <div>
                <%= f.date_field(:when) %>
            </div>
    </div>
</div>